body{
    background:pink;
    text-align: center;
    a{
        color:red;
    }
}
ul{
    position: relative;
    display: inline-block;
    margin: auto;
    max-width: 1280px;
    width: 100%;
    li{
        font-weight: 600;
        text-transform: uppercase;
        color:black;
        padding:5px 20px;
        position: relative;
        display: inline-block;
        ul{
            display: none;
            position: relative;
            color: black;
            left: 0;
            background:#fff;
        }
        &:hover{
            color:red;
            ul{
                display: block;
            }
        }
    }
}